#topbar{
    height: 70px;
    background-color: #002e3b;
    color: white;
    font-size: 14px;
}

.carousel-inner img{
    max-height: 500px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1.5rem;
    height: 7rem;
    background-color: black;
}

.carousel-control-next, .carousel-control-prev{
    width: 6%;
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 60%;
  }